.header {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    width: 100%;
    height: 80px;
    margin: 0;
    background-color: var(--verde);
    color: white;
    position: fixed;
  }

.buttonMenu{
    background: none;
    border-style: none;
    cursor: pointer;
    padding: 6px;
    position: relative;
}

.headerRight {
    display: flex;
    flex-direction: row;
    gap: 1rem;
    align-items: center;
} 

.divModulo{
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 15px;
}

.titleBold16{
    font-size: 16px;
    font-weight: 700;
    color: var(--verde-claro-light-2);
}

.nav {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 40px;
}

.buttonBell{
    background: none;
    border-style: none;
    cursor: pointer;
    padding: 6px;
}

.buttonUsuario {
    display: flex;
    flex-direction: row;
    align-items: center;
    background: none;
    border-style: none;
    cursor: pointer;
    padding: 6px;
    color: #FFFFFF;
    font-weight: 700;
    font-size: 14px;
    gap: 8px;
    font-family: var(--font-inter);

}

.buttonHug {
    width: 40px;
    height: 40px;
    background: none;
    border-style: none;
    cursor: pointer;
}

@media (max-width: 430px) {
    .nav, .divModulo {
        display: none;
    }
}
@media (min-width: 430px) {
    .buttonHug {
        display: none;
    }
}